@use "globals" as *;

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  #backToTopBtn:hover {
    background-color: $color-primary-hover;
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }
  