@use "globals" as *;

footer{
    background: $color-footer-gradiant;
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 3vh;
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
    }
}