@use "globals" as *;

footer{
    background-color: $color-primary;
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 3vh;
    }
}