@use "globals" as *;
.hero {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    height: 41rem;
    .card{
        background-color: $primary-color;
        margin-top: 6rem;
    }
}