@use "globals" as *;
.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 93vh;

    @include respond-to("medium"){
        height: 100%;
    }

    .card{
        background-color: $color-primary;
        margin-top: 6rem;
    }

    img{
        height: 14rem;
    }
}