@use "globals" as *;

#navbar{
    background: $color-navbar-gradiant;

    .container{
        max-height: 100%;
    }

    .navbar-brand{
        max-height: 100%;
    }

    .homeIcon{
        height: 60px;
        width: 60px;
    }

    #collapsibleNavId{

        ul{
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;

            .nav-item{
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            h4{
                font-weight: 800;
            }

            p{
                height: 60px;
            }

            .currentSeries, .currentSet{
                max-height: 70px;
                max-width: 150px;
            }

            .dropdownSeries, .dropdownSets{
                overflow: scroll;
            }

            img{
                max-height: 70px;
                max-width: 150px;
                margin-bottom: 0.5rem;
            }

            .nameItem{
                word-wrap: break-word;
                height: 50%;
            }

            .dropdown-menu{
                max-height: 600px;
                width: 18rem !important;
            }
        }
    }

    form{
        display: flex;

        input.inputSearchByName{
            padding: 1rem;
            border-radius: 10px;
        }

        button.buttonSearchByName{
            background-color: $color-primary;
            color: $white-color;
            border: 1px solid black;
            height: 100%;
            margin-left: 10px;
        }
    }
}
