@use "globals" as *;

.seriesCard, .setsCard, .setByIdCard {
    background-color: $color-navbar;
    justify-content: space-between;
    padding: 15px;
    max-height: 20rem;

    .card-img-top{
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            max-height: 100%;
            text-align: center;
        }
    }

    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card-title{
            color: $color-secundary-text;
            margin: 0;
        }
    }
}