$color-primary: #7652BA;
$color-primary-hover: #240c50;
$color-navbar: #dbcaf8;
$color-secundary: #FFF5CC;
$color-secundary-opacity-medium: #EAE2F8d3;

$white-color: #FFFFFF;

$color-links: #4A90E2;
$color-red: #FF5454;
$color-gold: #F2C94C;
$color-main-text:#4F4F4F;
$color-secundary-text:#828282;

@font-face {
    font-family: pokemonFont;
    src: url(../fonts/PokemonSolid.woff);
}

@font-face {
    font-family: Domine;
    src: url(../fonts/Domine-VariableFont_wght.woff);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.woff);
}

@font-face {
    font-family: GeistMono;
    src: url(../fonts/GeistMono-VariableFont_wght.woff);
}