$color-primary: #7652BA;
$color-primary-navbar-gradiant: linear-gradient(180deg, rgb(81, 44, 150) 0%, #a088ca 100%);
$color-primary-hover: #240c50;
$color-navbar: #dbcaf8;
$color-navbar-gradiant: linear-gradient(180deg, rgba(160,136,202,1) 0%, rgba(203,184,235,1) 100%);
$color-secundary: #FFF5CC;
$color-secundary-opacity-medium: #EAE2F8d3;

$color-series-card: rgb(200, 178, 236);
$color-series-card-gradiant: linear-gradient(0deg, rgba(202,195,213,1) 0%, rgba(191,138,251,1) 100%);

$color-footer-gradiant: linear-gradient(180deg, rgba(170,149,210,1) 0%, rgba(89,0,255,1) 100%);
$white-color: #FFFFFF;

$color-yellow-pokemon: #fecc01;
$color-blue-pokemon: #1454bb;
$color-links: #4A90E2;
$color-red: #FF5454;
$color-gold: #F2C94C;
$color-main-text:#4F4F4F;
$color-secundary-text:#828282;

@font-face {
    font-family: pokemonFont;
    src: url(../fonts/PokemonSolid.woff);
}

@font-face {
    font-family: Domine;
    src: url(../fonts/Domine-VariableFont_wght.woff);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.woff);
}

@font-face {
    font-family: GeistMono;
    src: url(../fonts/GeistMono-VariableFont_wght.woff);
}