@use "globals" as *;
@use "header";
@use "hero";
@use "footer";
@use "dropdown";
@use "layout";
@use "buttonUp";
@use "favButton";

$background-color: rgb(243, 238, 212);

.imgSerie{
    width: 100%;
}

body{
    background-color: $background-color;
}