@use "globals" as *;
@use "header";
@use "hero";
@use "footer";
@use "dropdown";
@use "layout";
@use "buttonUp";
@use "apexLogo";
@use "pokemonCard";
@use "navbar";
@use "cardContainer";
@use "sectionSeries";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.imgSerie{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

main{
    flex: 1;
}

a{
    color: $color-gold;
    text-decoration: none;
}